.add_entity_form {
    background-color: #ADA6A6;
    border-radius: 10px;
    padding: 5px;
    display: none;
}

.edit_entity_form {
    background-color: #696c1c;
    border-radius: 10px;
    padding: 5px;
    display: none;

}