.add_entity_form {
    background-color: #5cb85c;
    border-radius: 10px;
    padding: 5px;
    display: none;
}

.edit_entity_form {
    background-color: #ec971f;
    border-radius: 10px;
    padding: 5px;
    display: none;

}