<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%-5level) %gray(%d{HH:mm:ss.SSS}) [%thread] %green(%class{16}.%M\(%L\)):%cyan(%n%msg%n%n)</pattern>
            <!--<pattern>%n%-5level %d{HH:mm:ss.SSS} [%thread] %logger{0}.%M:%n%msg%n</pattern>-->
        </encoder>
    </appender>

    <root level="debug">
        <!--<root level="info">-->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>